<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--<base href="http://www.tenga.com/">-->
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="css/style.css?v=2">

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-1.7.min.js"></script>

</head>

<body class="page" id="page06">

  <div id="container">
    <div id="top">
        <div class="userlinks">
            <a href="index.html">返回首页</a>|<a href="#">登陆</a>|<a class="cart png_bg" href="#">购物车</a><span class="tel png_bg">服务专线: 400-0510-550</span>
        </div>
    </div>
    <!--<div id="header"></div>-->
    <div id="main">
        <div id="sidebar">
            <div class="logo dashed">
                <img src="img/page_logo.jpg">
            </div>
            <div class="menu">
                <a icon="page_side_icon1.gif" class="dashed" href="page1.html">天家农场</a>
                <div class="submenu">
                    <a class="dashed" href="#">天家介绍</a>
                    <a class="dashed" href="#">新鲜上市</a>
                    <a class="dashed" href="#">达人推荐</a>
                    <a class="dashed" href="#">人气水果</a>
                    <a class="dashed" href="#">时令蔬菜</a>
                    <a class="dashed" href="#">所有商品</a>
                </div>
                <a icon="page_side_icon2.gif" class="dashed" href="page2.html">安心宣言</a>
                <a icon="page_side_icon3.gif" class="dashed" href="page3.html">有机生活</a>
                <div class="submenu">
                    <a class="dashed" href="#">解析有机生活</a>
                    <a class="dashed" href="#">有机产品</a>
                    <a class="dashed" href="#">有机饮食</a>
                    <a class="dashed" href="#">有机美容</a>
                    <a class="dashed" href="#">有机运动</a>
                </div>
                <a icon="page_side_icon4.gif" class="dashed" href="page4.html">绿色健康</a>
                <div class="submenu">
                    <a class="dashed" href="#">转基因食品</a>
                    <a class="dashed" href="#">农药污染</a>
                    <a class="dashed" href="#">化肥污染</a>
                    <a class="dashed" href="#">转基因水稻</a>
                    <a class="dashed" href="#">中国食品安全</a>
                </div>
                <a icon="page_side_icon5.gif" class="dashed" href="page5.html">自然饮食</a>
                <div class="submenu">
                    <a class="dashed" href="#">吃出健康</a>
                    <a class="dashed" href="#">饮食健康常识</a>
                    <a class="dashed" href="#">日常饮食误区</a>
                    <a class="dashed" href="#">营养均衡</a>
                    <a class="dashed" href="#">饮食课堂</a>
                </div>
                <a icon="page_side_icon6.gif" class="dashed" href="#">网上订购</a>
                <a icon="page_side_icon7.gif" class="current" href="page6.html">常见问题</a>
                <div class="submenu">
                    <a class="dashed" href="#">关于天家蔬菜</a>
                    <a class="dashed" href="#">关于订购</a>
                    <a class="dashed" href="#">关于配送</a>
                    <a class="dashed" href="#">其它常见问题</a>
                </div>
            </div>
        </div>
        <div id="content">
            <img class="page_title" src="img/page_content_title6.jpg">
            <h1 class="p1em">·关于天家蔬菜 <span class="dash_short"></span></h1>
            <p>"天家蔬菜"是无锡天易生态农业有限公司一家专业提供新鲜蔬菜为主的农产品企业, 并建立健全了有效的食品安全及质量保证操作体系。通过了IS09001、HACCP、AIB、等认证，严格的质量控制体系，确保出运的产品“安全、安心、健康”。绿色蔬菜，按照绿色食品的概念，绿色蔬菜是指遵循可持续发展的原则，在产地生态环境良好的前提下，按照特定的质量标准体系生产，并经专门机构认定，允许使用绿色食品标志的无污染的安全、优质、营养类蔬菜的总称。</p>
            <div class="img left">
                <img src="img/upload/page6_img1.jpg">
            </div>
            <div class="dash_long"></div>
            <h1 class="p1em">·天家蔬菜产地 <span class="dash_short"></span></h1>
            <p class="no-indent">我們的豐園農場位在宜蘭南澳，三面環山一面環海，有下列得天獨厚的自然特點：</p>
            <p class="no-indent">·空氣清新：周圍有數十公頃的桉樹林隔離帶，加上周遭完全無工業。</p>
            <p class="no-indent">·水質澄淨無污染：豐園農場前臨兩條溪流匯流處，且蘊含豐富的生態資源。</p>
            <p class="no-indent">·土壤肥沃： 周圍多高山叢林、野溪瀑布，以有機質培養地力。</p>
            <p class="no-indent">·絕不使用化學肥料和化學農藥。</p>
            <p class="no-indent">·土地定期休耕輪作。 </p>
            </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        <div class="links dashed">
            <a href="#">公司介绍</a> | 
            <a href="#">常见问题</a> | 
            <a href="#">联系我们</a> | 
            <a href="#">关于退/换货</a> | 
            服务专线：<span class="bignumber">400-0510-550</span>
        </div>
        <div class="copyright">
            <p>版权所有： 无锡天易生态农业有限公司 </p>
            <p>苏ICP备10226898号-1  @2010 All Rights Reserved</p>
        </div>
    </div>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script> -->
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(function($){
        $('#sidebar .menu > a').each(function(i){
            var icon=$(this).attr('icon');
            if(icon != undefined){
                $(this).prepend($('<img>').attr('src','img/'+icon))
            }
        });
        $('#sidebar .submenu > a').prepend('· ');
        $('#sidebar .submenu').hide();
        var sub=$('#sidebar a.current').next();
        if(sub.hasClass('submenu')){
            sub.show();
        }
         // $('#sidebar .menu > a').last().removeClass('dashed');
    })
  </script>
  <!-- end scripts-->


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->
</body>
</html>